# Database
DATABASE_URL="postgresql://name:password@localhost:5432/rasg-blog?schema=public"

# Auth
AUTH_SECRET="your_auth_secret"
AUTH_ORIGIN="http://localhost:3000/api/auth"

# Nuxt Nodemailer
NUXT_MAIL_USER="your_mail_user"
NUXT_MAIL_PASS="your_mail_pass"