# Database
DATABASE_URL="postgresql://name:password@localhost:5432/rasg-blog?schema=public"

# Auth
AUTH_SECRET="your_auth_secret"
AUTH_ORIGIN="http://localhost:3000/api/auth"

# Nuxt Nodemailer
NUXT_MAIL_USER="your_mail_user"
NUXT_MAIL_PASS="your_mail_pass"

# xAI
XAI_API_KEY="your_xai_api_key"

# Google Auth
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# GitHub Auth
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# GIPHY API
GIPHY_API_KEY=

# CRON key
CRON_SECRET=

# Stripe API Keys
STRIPE_PK=
STRIPE_SK=
STRIPE_WEBHOOK_SECRET=
STRIPE_PREMIUM_PRICE_ID=prod_U9tXDXK7VdYLbn

# Internal Credit System
TOKEN_RATIO=1

# AWS Credentials
NUXT_AWS_ACCESS_KEY_ID=access_key_here
NUXT_AWS_SECRET_ACCESS_KEY=secret_key_here

# AWS S3 Configuration
NUXT_AWS_S3_BUCKET_NAME=topiqu-storage-eu-frankfurt
NUXT_AWS_REGION=eu-central-1

# CDN Configuration
NUXT_CDN_URL=https://cdn.topiqu.com

# Unsplash
UNSPLASH_ACCESS_KEY=
UNSPLASH_SECRET_KEY=