{
  "openapi": "3.1.0",
  "info": {
    "title": "Topiqu External API",
    "version": "1.0.0",
    "description": "Read-only API for retrieving published Topiqu articles. Clients must ignore unknown response fields so v1 can evolve compatibly.",
    "contact": {
      "name": "Topiqu support",
      "url": "https://topiqu.com"
    }
  },
  "servers": [
    {
      "url": "https://app.topiqu.com/api/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Articles",
      "description": "Published article content belonging to the authenticated site."
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/articles": {
      "get": {
        "operationId": "listArticles",
        "summary": "List published articles",
        "description": "Returns published articles newest first. Multiple tag slugs use AND semantics.",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Comma-separated tag slugs.",
            "schema": {
              "type": "string"
            },
            "example": "ai,marketing"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of published articles.",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                },
                "description": "Resolved major API version."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/articles/{id}": {
      "get": {
        "operationId": "getArticle",
        "summary": "Get a published article",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The published article.",
            "headers": {
              "X-API-Version": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Site API key created in Topiqu settings."
      }
    },
    "schemas": {
      "ArticleSummary": {
        "type": "object",
        "required": [
          "id",
          "title",
          "slug",
          "excerpt",
          "imageUrl",
          "aiInvolvement",
          "readingTime",
          "totalWords",
          "createdAt",
          "updatedAt",
          "publishedAt",
          "language",
          "tags",
          "user",
          "articleSeries",
          "availableTranslations"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "cm123abc"
          },
          "title": {
            "type": "string",
            "example": "How AI changes content operations"
          },
          "slug": {
            "type": "string",
            "example": "how-ai-changes-content-operations"
          },
          "excerpt": {
            "type": [
              "string",
              "null"
            ]
          },
          "imageUrl": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "aiInvolvement": {
            "type": "string",
            "description": "Level of AI involvement declared by the publisher."
          },
          "readingTime": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "totalWords": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "publishedAt": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ]
          },
          "language": {
            "type": "string",
            "example": "cs"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "name",
                "slug"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                }
              }
            }
          },
          "user": {
            "type": "object",
            "required": [
              "id",
              "username",
              "avatarUrl"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "avatarUrl": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "articleSeries": {
            "oneOf": [
              {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "slug"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  }
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "availableTranslations": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "language",
                "slug",
                "title",
                "excerpt",
                "translatedAt"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "language": {
                  "type": "string",
                  "example": "en"
                },
                "slug": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "title": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "excerpt": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "translatedAt": {
                  "oneOf": [
                    {
                      "type": "string",
                      "format": "date-time"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "Article": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArticleSummary"
          },
          {
            "type": "object",
            "required": [
              "content",
              "imageCredit",
              "sources",
              "allowedComments"
            ],
            "properties": {
              "content": {
                "type": "string",
                "description": "Article body as sanitized HTML."
              },
              "imageCredit": {
                "type": [
                  "object",
                  "array",
                  "string",
                  "number",
                  "boolean",
                  "null"
                ]
              },
              "sources": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "allowedComments": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "required": [
          "total",
          "page",
          "limit",
          "primaryLanguage",
          "appliedFilters"
        ],
        "properties": {
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "primaryLanguage": {
            "type": "string"
          },
          "appliedFilters": {
            "type": "object",
            "required": [
              "tags"
            ],
            "properties": {
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ArticleListResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArticleSummary"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "ArticleResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Article"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "statusCode",
          "message"
        ],
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "statusCode": 400,
              "message": "Invalid request"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "statusCode": 401,
              "message": "Missing or invalid API key"
            }
          }
        }
      },
      "NotFound": {
        "description": "Article not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "statusCode": 404,
              "message": "Article not found"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "statusCode": 429,
              "message": "Rate limit exceeded"
            }
          }
        }
      },
      "ServerError": {
        "description": "Unexpected server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "statusCode": 500,
              "message": "Unexpected server error"
            }
          }
        }
      }
    }
  }
}
